#donate-popup {
    max-width: 650px;
    .paypal-donate {
      position: inherit;
      padding: 10px;
      .donation-popup-footer {
        a#skip {
          display: block;
        }
      }
    }
  }
  .paypal-donate {
    position: relative;
    h3 {
      margin: 0;
      border-bottom: 2px solid #ccc;
      margin-bottom: 20px;
    }
  }
  #donate {
    margin: 20px 0px;
    padding: 10px 20px;
    background: #efefef;
  
    .donation-line {
      margin: 0px 0px 0.6em;
    }
    .donation-popup-footer {
      z-index: 100;
      position: absolute;
      bottom: 10px;
      right: 10px;
      overflow: auto;
      > * {
        float: right !important;
      }
      a {
        display: none;
        color: #444;
        margin-right: 20px;
        font-size: 80%;
        line-height: 31px;
        &:hover {
          text-decoration: none;
          color: $link-color;
        }
      }
    }
    #ppinfo {
      font-style: italic;
    }
    #amount {
      margin-left: 20px;
      padding: 0;
      width: auto;
    }
  
    ul.amounts {
      list-style-type: none;
      display: inline-block;
      padding: 0px;
      margin: 0px -20px 0px 20px;
      li {
        display: inline-block;
        label {
          margin: 2px 10px 0 4px;
        }
      }
    }
  }
  