// Colors
$white: #fff; // 255,255,255
$gray1: #d1d1d1;
$gray2: #686868;
$blue1: #007acc;
$blue2: #21759b;
$offwhite: #f7f7f7;

$font-family-icons: "Genericons";
$font-family-mono: Inconsolata, monospace;


// MP
$text-color: #222;
$font-family: "Open Sans", Helvetica, Arial, sans;
$font-family-title: Helvetica, Arial, sans;
$font-size-body: 16px;
$font-size-small: 12px;
$font-size-smaller: 10px;

$background-color: white;

$black-black: #000;
$black: #222;
$light-gray: #888;
$gray-line: #ccc;
$dark-gray: #444;

$link-hover-color: #a21414;
$link-color: $link-hover-color;

$gray-line: 1px solid #ccc;
